{% extends 'general/base.html' %}

{% csrf_token %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card" style="max-width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Job Offer</h5>
            <p class="card-text">First name: {{ object.candidate_first_name }}</p>
            <p class="card-text">Last name: {{ object.candidate_last_name }}</p>
            <p class="card-text">Email: {{ object.candidate_email_address }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Start Date: {{ object.start_date }}</li>
            <li class="list-group-item">Salary: {{ object.salary_offer }}</li>
            {% if object.offer_accepted == True %}
                <li class="list-group-item">Offer Accepted?: Yes</li>
            {% else %}
                <li class="list-group-item">Offer Accepted?: No</li>
            {% endif %}
        </ul>
        <div class="card-body">
            <a href="{% url 'job_offers:update' object.pk %}" class="btn btn-outline-warning btn-sm" role="button">Update</a>
            <a href="{% url 'job_offers:delete' object.pk %}" class="btn btn-outline-danger btn-sm" role="button">Delete</a>
        </div>
    </div>

{% endblock content %}